Import The ImageDataGenerator Library

In [ ]:
import math
import os
import zipfile
from google.colab import drive
drive.mount('/content/drive')
from keras.preprocessing.image import ImageDataGenerator

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Configure ImageDataGenerator Class

In [ ]:
train_datagen=ImageDataGenerator(rescale=1./255,shear_range=0.2,zoom_range=0.2,horizontal_flip=True)
train_datagen=ImageDataGenerator(rescale=1./255)

Apply Image DataGenerator Functionality To Trainset And Testset

In [ ]:
x_train=!unzip /content/drive/My\ Drive/TRAIN_SET.zip
x_test=!unzip /content/drive/My\ Drive/TEST_SET-20221110T194448Z-001.zip

MODEL BUILDING

i)Importing The Model Building Libraries

In [ ]:
import numpy as np
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras.layers import Dense,Flatten
from tensorflow.keras.layers import Conv2D,MaxPooling2D,Dropout
from keras.preprocessing.image import ImageDataGenerator

ii)Initializing The Model

In [ ]:
model=Sequential()

iii)Adding CNN Layers

In [ ]:
model.add(Conv2D(32,(3,3), input_shape=(64,64,3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Conv2D(32,(3,3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Flatten())

iv)Adding Dense Layers

In [ ]:
model.add(Dense(units=128, activation='relu'))
model.add(Dense(units=5, activation='softmax'))
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_8 (Conv2D)           (None, 62, 62, 32)        896

 max_pooling2d_8 (MaxPooling  (None, 31, 31, 32)       0
 2D)

 conv2d_9 (Conv2D)           (None, 29, 29, 32)        9248

 max_pooling2d_9 (MaxPooling  (None, 14, 14, 32)       0
 2D)

 flatten_4 (Flatten)         (None, 6272)              0

 dense_8 (Dense)             (None, 128)               802944

 dense_9 (Dense)             (None, 5)                 645

=================================================================
Total params: 813,733
Trainable params: 813,733
Non-trainable params: 0
_________________________________________________________________

v)Configure The Learning Process

In [ ]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy',metrics=['accuracy'])

vi)Train The Model

In [ ]:
try:
  model.fit_generator(
    generator=x_train, steps_per_epoch=len(x_train),
    epochs=20,validation_data=x_test, validation_steps=len(x_test )
)
except ValueError:
  print("result")

vii)Save The Model

In [ ]:
model.save('nutrition.h5')

viii)Test The Model

In [ ]:
from tensorflow.keras.models import load_model
from keras.preprocessing import image
from tensorflow.keras.utils import load_img
from tensorflow.keras.utils import img_to_array

model=load_model("nutrition.h5")

img=load_img(r"/content/sample1.jpg",grayscale=False,target_size=(64,64))
x=img_to_array(img)
x=np.expand_dims(x,axis=0)
pred = np.argmax(model.predict(x), axis=-1)
pred

1/1 [==============================] - 0s 50ms/step

array([1])

In [ ]:

index=['APPLES','BANANA','ORANGE','PINEAPPLE','WATERMELON']
#ind=index(arrayval[0])
result=str(index[pred[0]])

result

'BANANA'

In [ ]:
pred[0]

1

In [ ]:
import pandas as pd
data=pd.read_csv(r'/content/nutrient _intake - Sheet1.csv')
data

,NAME,SERVING,CALORIE,FIBRE,FAT,PROTEIN,SUGAR,CARBOHYDRATE,BENEFITS
0,Apple,100g,52,3.3g,0.24g,0.36g,14.34g,19.06g,Increases endurance during workout.
1,Banana,100g,89,3.1g,0.39g,1.29g,14.43g,26.95g,important to increase performance and muscle g...
2,Orange,100g,47,3.1g,0.16g,1.23g,12.25,15.39g,lowers the risk of fatigue and dehydration aft...
3,Pineapple,100g,48,2.2g,0.19g,0.84g,14.35g,19.58g,"Reduces strains, sprains, joint pain, and infl..."
4,Watermelon,100g,30,0.6g,0.23g,0.93g,9.42g,11.48g,Aids in hydration and helps provide energy

In [ ]:
print(data.loc[[pred[0]]])

     NAME SERVING  CALORIE  FIBRE    FAT PROTEIN   SUGAR CARBOHYDRATE  \
1  Banana    100g        89  3.1g  0.39g   1.29g  14.43g       26.95g

                                            BENEFITS
1  important to increase performance and muscle g...